force-app/main/default/flows/Custom_Product_Discovery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AdditionalContextData</name>
        <label>AdditionalContextData</label>
        <actionName>ProductDiscoveryAdditionalContextData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>All_Products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>QuoteAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>QuoteRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProductDiscoveryAdditionalContextData</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </actionCalls>
    <apiVersion>62</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Catalog_Count</name>
        <label>Assign Catalog Count</label>
        <assignmentItems>
            <assignToReference>CatalogCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Catalogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Catalog_Size</targetReference>
        </connector>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </assignments>
    <assignments>
        <name>Assign_the_Catalog_Record</name>
        <label>Assign the Catalog Record</label>
        <assignmentItems>
            <assignToReference>ChosenCatalog.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_the_Chosen_Catalog.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChosenCatalog.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_the_Chosen_Catalog.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_the_Chosen_Catalog</targetReference>
        </connector>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </assignments>
    <assignments>
        <name>Set_Quote_Record_Id</name>
        <label>Set Quote Record Id</label>
        <assignmentItems>
            <assignToReference>QuoteRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdditionalContextData</targetReference>
        </connector>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </assignments>
    <constants>
        <name>QuoteAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Catalog_Size</name>
        <label>Check Catalog Size</label>
        <defaultConnector>
            <targetReference>Choose_Catalog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has multiple Catalogs</defaultConnectorLabel>
        <rules>
            <name>No_Catalogs_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CatalogCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CatalogCount</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CatalogCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Catalogs_Found_Header</targetReference>
            </connector>
            <label>No Catalogs Found</label>
        </rules>
        <rules>
            <name>Only_One_Catalog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CatalogCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Chosen_Catalog</targetReference>
            </connector>
            <label>Only One Catalog</label>
        </rules>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Quote Vs Order Processing</label>
        <defaultConnector>
            <targetReference>Get_Quote_from_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is this Order?</defaultConnectorLabel>
        <rules>
            <name>Is_this_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Record_Id</targetReference>
            </connector>
            <label>Is this Quote?</label>
        </rules>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </decisions>
    <dynamicChoiceSets>
        <description>This step helps user choose a Catalog</description>
        <name>CatalogsChoice</name>
        <collectionReference>Get_Catalogs</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ProductCatalog</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Custom Product Discovery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Product Discovery</label>
    <loops>
        <name>Set_the_Chosen_Catalog</name>
        <label>Set the Chosen Catalog</label>
        <collectionReference>Get_Catalogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_Catalog_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_2</targetReference>
        </noMoreValuesConnector>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Catalogs</name>
        <label>Get Catalogs</label>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Catalog_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfCategories</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductCatalog</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </recordLookups>
    <recordLookups>
        <name>Get_Chosen_Catalog_Details</name>
        <label>Get Chosen Catalog Details</label>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_a_Catalog</elementReference>
            </value>
        </filters>
        <object>ProductCatalog</object>
        <outputReference>ChosenCatalog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_from_Order</name>
        <label>Get Quote from Order</label>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AdditionalContextData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>QuoteRecordId</assignToReference>
            <field>QuoteId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </recordLookups>
    <screens>
        <name>All_Products</name>
        <label>All Products</label>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PLP</name>
            <extensionName>runtime_revenue_products:prdLstContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>catalogName</name>
                <value>
                    <elementReference>ChosenCatalog.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>catalogId</name>
                <value>
                    <elementReference>ChosenCatalog.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalContextData</name>
                <value>
                    <elementReference>AdditionalContextData.additionalContextData</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </screens>
    <screens>
        <name>Choose_Catalog</name>
        <label>Choose Catalog</label>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chosen_Catalog_Details</targetReference>
        </connector>
        <fields>
            <name>Choose_a_Catalog</name>
            <choiceReferences>CatalogsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Catalog</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </screens>
    <screens>
        <name>No_Catalogs_Found_Header</name>
        <label>No Catalogs Found Header</label>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCatalogsFound</name>
            <fieldText>&lt;p&gt;There are No Catalogs Found in the Org. Please setup Catalogs and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </screens>
    <start>
        <connector>
            <targetReference>Get_Catalogs</targetReference>
        </connector>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </start>
    <status>Active</status>
    <variables>
        <description>Count of Catalogs from Get Catalogs Step</description>
        <name>CatalogCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This is the Chosen Product Catalog</description>
        <name>ChosenCatalog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCatalog</objectType>
    </variables>
    <variables>
        <description>Object API Name of Quote/Order</description>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuoteRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <description>RecordId of Quote/Order</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0Q0DU0000002Rr40AE</stringValue>
        </value>
    </variables>
</Flow>
