force-app/main/default/flows/MultiLevel_Quote_Apporval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62</apiVersion>
    <decisions>
        <description>Decision Outcome</description>
        <name>Copy_2_of_Decision_Outcome</name>
        <label>Decision Outcome</label>
        <defaultConnector>
            <targetReference>Update_Quote_status_to_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Admin_Approval_Step.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Quote_status_to_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </decisions>
    <decisions>
        <description>Decision Outcome</description>
        <name>Decision_1</name>
        <label>Decision Outcome</label>
        <defaultConnector>
            <targetReference>Admin_Approval_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manager_Approval_Step.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_status_to_Rejected_Stage</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </decisions>
    <description>Multilevel advance approval for quote</description>
    <environments>Default</environments>
    <interviewLabel>MultiLevel Quote Apporval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MultiLevel Quote Approval</label>
    <orchestratedStages>
        <description>Admin Approval Stage</description>
        <name>Admin_Approval_Stage</name>
        <label>Admin Approval Stage</label>
        <connector>
            <targetReference>Copy_2_of_Decision_Outcome</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Admin Approval Step</description>
            <name>Admin_Approval_Step</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>Admin_Group</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Admin Approval </stringValue>
                </value>
            </inputParameters>
            <label>Admin Approval Step</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copy_4_of_Update_Quote_status_to_Rejected</name>
        <label>Update Quote status to Rejected</label>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copy_3_of_Update_Quote_status_to_Rejected</name>
            <actionName>Update_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <label>Copy 3 of Update Quote status to Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </orchestratedStages>
    <orchestratedStages>
        <description>Manager Approval Stage</description>
        <name>Manager_Approval_Stage</name>
        <label>Manager Approval Stage</label>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Manager Approval Step</description>
            <name>Manager_Approval_Step</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Manager.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__ApprovalChainName</name>
                <value>
                    <stringValue>Manager Approval </stringValue>
                </value>
            </inputParameters>
            <label>Manager Approval Step</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </orchestratedStages>
    <orchestratedStages>
        <name>Quote_status_to_In_review_stage</name>
        <label>Update Quote status to In review</label>
        <connector>
            <targetReference>Manager_Approval_Stage</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Quote_status_to_In_review</name>
            <actionName>Update_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <stringValue>In Review</stringValue>
                </value>
            </inputParameters>
            <label>Update Quote status to In review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_status_to_Approved</name>
        <label>Update Quote status to Approved</label>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Quote_status_to_Approved_Stage</name>
            <actionName>Update_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </inputParameters>
            <label>Update Quote status to Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Quote_status_to_Rejected_Stage</name>
        <label>Update Quote status to Rejected</label>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Quote_status_to_Rejected</name>
            <actionName>Update_Quote_Status</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <label>Update Quote status to Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <connector>
            <targetReference>Quote_status_to_In_review_stage</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Discount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>20</numberValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </start>
    <status>Active</status>
</Flow>
